:root { 
--blue_gray_50:#f1f1f2; 
--blue_gray_100_01:#cccccc; 
--black_900_3f:#0000003f; 
--amber_A100:#ffec8a; 
--green_500:#3bb740; 
--green_A700:#14ae5c; 
--black_900:#000000; 
--black_900_60:#00000060; 
--deep_orange_600:#f24822; 
--gray_500_01:#a6a6a6; 
--deep_orange_100:#ffc7c2; 
--yellow_200:#ffe8a3; 
--black_900_4c:#0000004c; 
--gray_600:#757575; 
--blue_gray_50_01:#eff1f4; 
--gray_700:#666666; 
--gray_400:#b3b3b3; 
--gray_500:#999999; 
--blue_gray_100:#d9d9d9; 
--gray_600_01:#7e7d7d; 
--amber_400:#ffcd29; 
--blue_gray_400:#8e8e8e; 
--amber_500:#fbb80b; 
--red_A100:#ff8c8c; 
--gray_900:#1e1e1e; 
--amber_100:#fff2af; 
--light_blue_50:#d1ebff; 
--orange_400:#ffa629; 
--gray_300:#e6e6e6; 
--orange_200:#e5cd86; 
--gray_100:#f5f5f5; 
--orange_50:#fff6d6; 
--gray_400_01:#bbb4bf; 
--gray_400_02:#c0bfbf; 
--gray_400_03:#c0c0c0; 
--white_A700:#ffffff; 
}