:root { 
--gray_600:#757575; 
--gray_400:#b3b3b3; 
--gray_600_01:#7e7d7d; 
--blue_gray_100:#d9d9d9; 
--blue_gray_400:#8e8e8e; 
--red_A100:#ff8c8c; 
--gray_900:#1e1e1e; 
--light_blue_50:#d1ebff; 
--orange_400:#ffa629; 
--black_900_3f:#0000003f; 
--amber_A100:#ffec8a; 
--gray_300:#e6e6e6; 
--green_A700:#14ae5c; 
--orange_50:#fff6d6; 
--gray_400_01:#c0bfbf; 
--black_900:#000000; 
--gray_400_02:#c0c0c0; 
--white_A700:#ffffff; 
--deep_orange_100:#ffc7c2; 
--yellow_200:#ffe8a3; 
}